<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneCannonOneArmy.KeyControls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OneCannonOneArmy.UniversalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OneCannonOneArmy.KeyControls>
            <setting name="LeftKey" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="RightKey" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="FireKey" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SweepKey" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="PauseKey" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="FullscreenKey" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="ScreenshotKey" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="HotbarKey1" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="HotbarKey2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="HotbarKey3" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="HotbarKey4" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="HotbarKey5" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="ToggleRapidFireKey" serializeAs="String">
                <value>69</value>
            </setting>
        </OneCannonOneArmy.KeyControls>
        <OneCannonOneArmy.UniversalSettings>
            <setting name="ShowCtrlWPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayedTutorial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewedStartingStory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewedFullIntro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Muted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Captions" serializeAs="String">
                <value>False</value>
            </setting>
        </OneCannonOneArmy.UniversalSettings>
    </userSettings>
</configuration>